@import "../../../variables";

.cards {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}

.cards:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  //cursor: pointer;
}

.totalItemsSpan {
  color: $primary;
  font-weight: bold;
}

.sbazarLogo {
  width: 40%;
}

.bazosLogo {
  width: 30%;
}

.aukroLogo {
  width: 25%;
}

.cardsImg {
  height: 20rem;
}

.transferLink:link {
  text-decoration: none;
}

.transferLink:visited {
  text-decoration: none;
}

.transferLink:hover {
  text-decoration: underline;
}

.transferLink:active {
  text-decoration: underline;
}